[submodule "moodle/local/adminer"]
	path = moodle/local/adminer
	url = https://github.com/grabs/moodle-local_adminer.git
	branch = MOODLE_39_STABLE
[submodule "moodle/local/staticpage"]
	path = moodle/local/staticpage
	url = https://github.com/moodleuulm/moodle-local_staticpage.git
	branch = master
[submodule "moodle/local/mail"]
	path = moodle/local/mail
	url = https://gitlab.com/reskity/moodle-local_mail.git
	branch = master
[submodule "moodle/local/sandbox"]
	path = moodle/local/sandbox
	url = https://github.com/moodleuulm/moodle-local_sandbox.git
	branch = master
